<div class="my-4">
    <button type="button" class="btn btn-primary" routerLink="/category/add">Add Category</button>
    <div class="card my-4">
        <h5 class="card-header">Category List</h5>
        <div class="card-body">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr class="text-center">
                    <th>S/L</th>
                    <th>Category Name</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngIf="loading">
                        <td colspan="3" class="text-center">
                            <div class="spinner-border"></div>
                        </td>
                    </tr>
                    <tr *ngFor="let value of categories; let i = index" class="text-center">
                            <th>{{i + 1}}</th>
                            <td>{{value.name}}</td>
                            <td style="width:200px">
                                <button type="button" [routerLink]="['/category/edit', value.id]" class="btn btn-sm btn-info">Edit</button>&nbsp;
                                <button (click)="findDeleteCategory(value.id)" data-toggle="modal" data-target="#deleteModal" type="button" class="btn btn-sm btn-danger">Delete</button>
                            </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="modal fade" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want to delete?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="deleteCategory()" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>