<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="my-4">This is about page..</h1>
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">This is Title</h2>
                        <p class="card-text">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque,
                          nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate
                           voluptatibus possimus, veniam magni quis!
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque,
                          nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate
                           voluptatibus possimus, veniam magni quis!
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque,
                          nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate
                           voluptatibus possimus, veniam magni quis!
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque,
                          nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate
                           voluptatibus possimus, veniam magni quis!
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque,
                          nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate
                           voluptatibus possimus, veniam magni quis!
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque,
                        </p>
                </div>
            </div>
        </div>
    </div>
</div>